/*
Theme Name: OI Refresh by OI-Digital
Theme URI: https://www.oleinteractive.net/
Description: Theme OI - Brand
Author: OI-Digital
Author URI: https://www.oleinteractive.net/
Version: 1.0
*/
html {
	scroll-behavior: smooth;
}
body{font-family: 'IBM Plex Sans', sans-serif; background-color: #ef244a;
margin:0px; padding: 0px; font-weight: 200;}
.red{ color: #ef244a; }
.white{ color: #fff; }
.dark{ color:#382e2d; }
.light{ color: #ffefc9; }
.bg.red{ background-color: #ef244a; color:#ffefc9; }
.bg.wite{ background-color: #fff; }
.bg.dark{ background-color:#382e2d;  color:#ffefc9;}
.bg.light-d{ background-color: #ffefc9; color:#382e2d;}
.bg.light-r{background-color: #ef244a; color:#ffefc9;}
.container{ width: 90%; }
strong{ font-weight: 600; }
.navbar-fixed{ height: 100px !important; }
nav{ background: none; box-shadow: none; padding-top: 35px; height: 100px; transition: all 0.5s ease-out; }
nav .nav-wrapper{ padding:0px; }
nav ul a{ color:#382e2d; font-family: 'Work Sans', sans-serif; font-weight: 700; font-size: 14px;  }
nav ul a:hover{ background:none;  }
nav.nav-light{ background-color:#ef244a;  }
section h1, section h2{ max-width: 60%;font-family: 'Work Sans', sans-serif;font-weight: 700; font-size: 46px; }
section h2{ color:  #ffefc9; }
#intro{ padding-top: 30px; }
.intro-nav{ padding-top: 20px; }
.intro-nav ul li a{ color:#ffefc9; font-family: 'Work Sans', sans-serif;font-weight: 700; font-size: 38px; line-height: 40px; cursor: pointer; transition: all 0.8s ease-out; }
.intro-nav ul li a:before{transition: all 0.8s ease-out;margin-left: -30px;}
.intro-nav ul li a.current{color:#382e2d;}
.intro-nav ul li a.current:before{ content: "/";  }
.intro-nav ul li a:hover{color:#382e2d;}
.intro-nav ul li a:hover:before{content: "/";}
.vidCarousel{ margin-top: 40px; }
.pic-temp{ width: 100%;height: auto; }
#about{color:#ffefc9; padding-top: 150px;}
.txt-about p{ text-indent: 30px; background-image: url('assets/ico_small.png'); background-repeat: no-repeat; }
.graph-about{ position: relative; }
#about .text-about{ padding-top: 120px; }
.bg-graph-about{ background-color:#382e2d; width: 100%; padding-top: 20%; display: block;  position: absolute; z-index: 1; top: 0px; right: 0px; min-height: 350px;   }
.element-about{ position: relative; z-index: 90; width: 100%; padding-top: 200px;}
.owl-carousel .owl-nav{position: absolute;
    left: -80px;
    bottom: 50px;}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{ font-size: 60px; color: #382e2d; }
.owl-carousel .owl-nav button.owl-next{ margin-top: 40px; }
.owl-theme .owl-nav [class*='owl-']:hover{ background:none; }
#solutions{ padding-top: 150px; }
#solutions h2{margin-top: 0px;}
#solutions .intro-solutions{ color:#ffefc9; }
#solutions .item-solutions div{ background-color: #ffefc9; padding:30px 50px; margin-bottom: 40px; }
#solutions .item-solutions:nth-child(odd) div{margin-right: 10px;}
#solutions .item-solutions h3{font-family: 'Work Sans', sans-serif;font-weight: 700; font-size: 30px; color:#ef244a; width: 80%; margin-left: 50px;}
#solutions .item-solutions h3:before{content: " "; margin-left: -55px; padding-right: 10px; color:#382e2d;}
#solutions .item-solutions:nth-child(2) h3:before{content: "01.";}
#solutions .item-solutions:nth-child(3) h3:before{content: "02.";}
#solutions .item-solutions:nth-child(4) h3:before{content: "03.";}
#solutions .item-solutions:nth-child(5) h3:before{content: "04.";}
#solutions .item-solutions:nth-child(6) h3:before{content: "05.";}
#solutions .item-solutions p{ padding-left: 50px; padding-bottom: 20px; color:#382e2d 	!important; }
#solutions .item-solutions:nth-child(4) p{ padding-bottom: 70px; }
#cases{ padding-top: 150px; }
#cases h2{ margin-top: 0px; }

.cards-container { column-break-inside: avoid; cursor: pointer; }
.cards-container .carde { display: inline-block; overflow: visible; width: 95%;
}
.cards-container .carde strong.tt-case{color: #ffefc9; font-family: 'Work Sans', sans-serif;font-weight: 700; font-size: 22px;}
.cards-container .carde div.info-case{position: relative;}

.cards-container .carde div.overlay-case{position: absolute; bottom: 5%; left: 5%; right: 0; background-color: #fff; overflow: hidden; width: 90%; height: 0; transition: .5s ease;}
.cards-container .carde div.overlay-case .desc-case{ padding: 80px 20px 20px 20px; text-align: left;  }
.cards-container .carde div.overlay-case .desc-case strong.tt-case-d{font-family: 'Work Sans', sans-serif;font-weight: 700; font-size: 30px; line-height: 28px; color:#382e2d;  }
.cards-container .carde div.info-case:hover .overlay-case { height: 90%; }
.cards-container .carde div.tt-case{ padding-bottom: 40px; padding-top: 15px;  }
.kpi-info{ padding-top: 20px; color:#ef244a;}
.kpi-info span{ font-family: 'Work Sans', sans-serif;font-weight: 700; font-size: 35px; line-height: 30px; }
.kpi-info p{ padding-top: 0px; margin-top: 0px; font-size: 14px; }
#medios{ padding-top: 150px; }
#medios h2{ max-width: 100%; }
#medios .carousel { height: 600px !important; color:#fff;}
#medios .carousel .wrap-brand{display: flex; justify-content:space-between; padding: 0px 20px; color:#ffefc9;}
#medios .carousel .wrap-brand .txt-brand{width: 60%;}
#medios .carousel strong{ padding:15px 0px; font-size: 20px; }
#medios .carousel .wrap-brand a{ background-color:#382e2d; color: #fff; padding:  10px 15px; display: block; font-weight: 600;  }
.carousel .carousel-item > img {margin-bottom: 15px;}
#medios .options-carousel-brand{ padding-top: 6rem; }
#medios .options-carousel-brand a{ color: #382e2d; font-size: 50px; }
#medios .options-carousel-brand .moveNextCarousel{ padding-left: 30px; padding-top: 50px; }
#contacto{ padding-top: 150px; }
#contacto h2{ font-size: 55px; max-width: 100%; }
#contacto .wrap-contact{ position: relative; }
#contacto .office{ text-align: right; }
#contacto .tt-contact{ position: absolute; z-index: 90;top: 40px; left: 40px; }
#contacto .contacto-office{ color: #fff;}
#contacto .contacto-office div{padding-right: 20px; padding-top: 300px; color:#ffefc9;}
#contacto .contacto-office strong{ font-size: 30px; line-height: 30px;}
#contacto .contacto-office li{ font-size: 20px; font-weight: 400; }
#contacto .box-dark{ background-color:#382e2d; padding-top: 150px; padding-bottom: 80px; }
#contacto .box-dark input, #contacto .box-dark textarea{ color: #fff; border:none; border-bottom: 1px solid #fff; font-size: 14px; margin-bottom: 12px; }
#contacto .box-dark textarea{ height: 200px; }
#contacto .box-dark input[type="submit"]{ background-color:#ef244a; text-transform: uppercase;padding: 10px 20px; border:none;  }
.wpcf7-spinner{ display: block; }
footer{ position: absolute; left: 0px;    margin-top: -80px; }
.copyright p{padding-left: 20px; font-weight: 300;}
.wpcf7 form.sent .wpcf7-response-output{ background-color: #fff }
@media only screen and (max-width: 600px) {
  .cards-container { -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }
}
@media only screen and (min-width: 601px) {
  .cards-container { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2;
  }
}
@media only screen and (min-width: 993px) {
  .cards-container { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2;
  }
}
body.page h1{ max-width: 100%; }
body.page .container{color: #ffefc9;}
body.page .text-page{ padding-top: 2rem; font-size: 16px; font-weight: 400; }
body.page .text-page a{ font-weight: 600; color: #ffefc9; text-decoration: underline; }
@media all and (max-width:768px),
only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:1024px),
only screen and (min--moz-device-pixel-ratio:2) and (max-width:1024px),
only screen and (-o-min-device-pixel-ratio:2/1) and (max-width:1024px),
only screen and (min-device-pixel-ratio:2) and (max-width:1024px),
only screen and (min-resolution:192dpi) and (max-width:1024px),
only screen and (min-resolution:2dppx) and (max-width:1024px){
	section h1, section h2{max-width: 92%;}
	#about, #medios, #cases{ padding-top: 50px; }
	#about .text-about{ padding-top: 0px; }
	#solutions .item-solutions div{ padding:30px; }
	#medios .carousel .wrap-brand{ flex-direction: column; }
	#medios .carousel .wrap-brand .txt-brand{ width: 100%; }
	#medios .carousel .wrap-brand a{ text-align: center; }
	#medios .options-carousel-brand{ padding-top: 0px; }
	.cards-container .carde div.overlay-case .desc-case{ padding: 20px; }
	#solutions .item-solutions:nth-child(odd) div{margin-right: 0px;}
	#contacto .box-dark{ padding-top: 30px; padding-bottom: 30px; }
	footer{ position: relative; }
	#contacto .contacto-office div{ padding-right: 0px; }
	.office h2{ text-align: left;}
	.office ul{display: flex; flex-wrap: wrap; 
    justify-content: flex-end;}
	#contacto .contacto-office li{ padding-left: 20px; }
	.cards-container .carde div.overlay-case .desc-case strong.tt-case-d{font-size: 28px; line-height: 20px;}
	.kpi-info span{ font-size: 25px; line-height: 20px; }
}