/*
Theme Name: OI Master by OI-Digital
Theme URI: https://www.oleinteractive.net/
Description: Theme OI - New branding
Author: OI-Digital
Author URI: https://www.oleinteractive.net/
Version: 1.0
*/
body{font-family: 'IBM Plex Sans', sans-serif; background-color: #ffefc9;
margin:0px; padding: 0px; font-weight: 200;}
.red{ color: #ef244a; }
.white{ color: #fff; }
.dark{ color:#382e2d; }
.light{ color: #ffefc9; }
.bg.red{ background-color: #ef244a; color:#ffefc9; }
.bg.wite{ background-color: #fff; }
.bg.dark{ background-color:#382e2d;  color:#ffefc9;}
.bg.light-d{ background-color: #ffefc9; color:#382e2d;}
.bg.light-r{background-color: #ef244a; color:#ffefc9;}
strong{ font-weight: 600; }
nav{ background: none; box-shadow: none; padding-top: 50px; height: 80px; transition: all 0.5s ease-out; }
nav .nav-wrapper{ padding: 10px 0px; }
nav ul a{ color:#382e2d; font-family: 'Work Sans', sans-serif; font-weight: 700; font-size: 14px; }
nav ul a:hover{ background:none; }
nav.nav-light{background-color:#ffefc9; padding-top: 0px;}
nav .sidenav-trigger i{ color: #ef244a; font-size: 35px;}
li.current-menu-item a::after{content: ''; display: block; position: relative; bottom: 20px; width: 40px; left: 50%; margin-left: -20px; border-top: 1px solid #382e2d;}
h1, h2, h3, h4, h5{font-family: 'Work Sans', sans-serif;}
section h1{margin:0px; padding: 0px; font-size: 90px; line-height: 75px;  color:#ef244a; }
section h2{margin:0px; padding: 0px; font-size: 60px; line-height: 55px;  color:#ef244a; }
section h2 span{color:#382e2d; }
.page-footer{ background:none; padding-top: 0px;}
.page-footer .call-contact{ padding: 140px 0px;  }
.page-footer a.link-lets-talk{ font-size: 60px; line-height: 45px; font-family: 'Work Sans', sans-serif; padding-right: 80px; background-repeat: no-repeat; background-position: right; background-size: 60px;}
.page-footer .footer-copyright{ background-color:#382e2d; color: #ffefc9; font-size: 12px;   }
.page-footer .footer-copyright ul{display: flex;}
.page-footer .footer-copyright a{ color: #ffefc9;font-weight: 200; font-size: 12px; }
.page-footer .footer-copyright li{ padding-right: 20px; border-right: 1px solid; padding-left: 20px;  }
.page-footer .footer-copyright li:last-child{ border-right: none; }
.page-footer .footer-copyright .foot-wrap{display: flex; justify-content: space-around;}
body.page-id-10 a.link-lets-talk, body.category a.link-lets-talk, body.single a.link-lets-talk, body.page a.link-lets-talk{ color:#382e2d; background-image:url(assets/icon_arrow_right_dark.png);  }
body.home .page-footer{background-color: #ef244a;}
body.home .page-footer a.link-lets-talk{ color:#ffefc9; background-image:url(assets/icon_arrow_right.png);  }
section{ padding: 120px 0px; }
section.about h1{color: #ef244a; text-align: right;}
section.about .container{ padding-top: 100px;  }
section.about h1, section.about .txt-about{ padding-top: 50px; }
section.about .element-aa{ background-image: url(assets/about_element.png); background-repeat: no-repeat; min-height: 290px; background-size: contain; }
.content{ display: flex;}
.left-content{width: 330px; padding-left: 60px; z-index: 10;}
.elemento{ position: absolute; }
.e-a{ z-index: 1; top: 20%; left:35%; }
.e-b{ z-index: 1; top: 40%; left:40%; }
.e-c{ z-index: 80; bottom:35%; left:45%; }
.e-d{ z-index: 90; bottom: 0; right:0; }
.e-e{ z-index: 90; bottom: 0; left:0; }
.d-a{border-left: 1px solid #ef244a; }
.d-b{z-index: 90; bottom: 5%; right:0;}

.tabs-services{margin: 50px 0px 20px 0px;}
.tabs{ background:none; height: 134px; }
.tabs .tab{ height: 120px;  }
.tabs .tab a{ border-bottom: 4px solid #ef244a; }
.tabs .tab a.active{ border-bottom: none; }
.tabs .tab a:focus, .tabs .tab a:focus.active{ background:none; }
.tabs .indicator{ background:none; background-image: url(assets/icon_indicator.png); background-repeat: no-repeat; background-position: bottom center; height: 20px; transition: all 0.2s ease; }
.service-info h3{ background-color:#382e2d;  color:#ffefc9; font-family: 'IBM Plex Sans', sans-serif; text-align: center; font-size: 18px; padding: 10px 0px; }
.services h4{color: #ef244a;}
.services span{color:#382e2d;}
.list-cat h1{ word-spacing: 1em; padding: 18rem 0px 14rem 7rem; text-align: center; background-image: url('assets/ico_cs.png'); background-repeat: no-repeat; background-position: center; margin-bottom: 20px;font-size: 5rem;}
.item-cat-med{ margin-bottom: 20px; }
.item-cat-med .box-info-p{ text-align: right; background-color: #ef244a;z-index: 9; margin-top: -20px; position: relative; padding: 20px; }
.item-cat-med .featured-box.box-info-p{ padding: 30px; margin-top: -90px; }
.item-cat-med .box-info-p h2{ font-size: 2rem; color:#ffefc9;line-height: 2.2rem;}
.item-cat-med .box-info-p a{color:#ffefc9;}
.item-cat-med img{ width: 100%; height: auto; transition: opacity .5s ease-in-out; position: relative;z-index: 1; }
section.cases-home{ background-color: #ef244a; color:#ffefc9; }
section.cases-home .tt-cat-cc{ text-align: right; }
section.cases-home .tt-cat-cc h3{ text-align: right; }
section.cases-home a{color: #ffefc9;}
.tt-cat-cc a{font-family: 'IBM Plex Sans', sans-serif; }
section.cases-home .term-cs{ text-align: right; }
section.cases-home .term-cs strong{font-size: 26px; padding-left: 40%; line-height: 26px;}
section.cases-home .term-cs span{font-family: 'IBM Plex Sans', sans-serif; font-weight: 600;}
.sidenav-overlay{ z-index: 996; }
.sidenav{ width: 100vh; background: rgba(56,46,45,0.97); padding-top: 50px; }
.sidenav li > a, .sidenav li > a > i, .sidenav li > a > i.material-icons{ color: #ffefc9;}
.sidenav-close{color: #ffefc9; position: absolute;left: 45vh; width: 50px; top: 20px;}
.sidenav-close i{font-size: 30px !important;}
.sidenav .logo-nav{ padding-left: 30px; }
.txt-about p{ text-indent: 30px; background-image: url('assets/ico_small.png'); background-repeat: no-repeat; }
.infog{ height: 320px; margin-bottom: 50px; }
.infog h3 { font-weight: 700; font-size: 3rem; margin: 0px; padding: 0px; }
.infog h3 span{color: #382e2d;}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.infog:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #ef244a;
  color: #ffefc9;
  cursor:pointer;
  padding: 15px;
}

.flip-card-back {
  border:#ef244a 3px solid;
  color:#ef244a;
  transform: rotateY(180deg);
  padding: 20px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 400; font-size: 14px;
}
.flip-card-back p strong{font-weight: 600;}
.flip-card-back .tg{font-family: 'IBM Plex Sans Condensed', sans-serif; background-color:#382e2d; color:#ffefc9; padding: 5px 10px; margin: 5px 10px; }
.flip-card-back h3{font-family: 'IBM Plex Sans Condensed', sans-serif;
font-weight: 600; margin: 20px 0px; padding: 5px 10px; !important; background-color: #ef244a;color:#ffefc9; font-size: 14px!important; }
.graph{ position: relative; }
.graph img { position: absolute; z-index: 99; right: 0px; width: 115%; margin-bottom: 20px; max-height: 390px;}
body.page-id-14{ background-color: #ef244a; }
body.page-id-14 nav ul a{color:#ffefc9;}
body.page-id-14 li.current-menu-item a::after{ border-top: 1px solid #ffefc9; }
body.page-id-14 nav.nav-light ul a{color:#382e2d;}
.wrap-info-single{ position: relative; }
.info-single{ position: relative; z-index: 9; padding-top: 30px !important; }
.pic-single img{ width: 100%; height: auto; }
strong.cat-single{ color:#ef244a; font-size: 2rem; }
.box-title{background-color:#ef244a; color: #ffefc9; padding: 20px; margin-right: -40px;font-size: 2.6rem; font-weight: 700; line-height: 2.6rem;}

.kpi-single{ text-align: right; padding-right: 50px; }
.kpi-single h3{ margin: 0px; padding: 0px; font-size: 3rem;}
.kpi-single p{ font-size: 16px; font-weight: 600; margin:0px; }
.hero-image{ -webkit-box-shadow: -25px 25px 0px 30px #ef244a; box-shadow: -25px 25px 0px 30px #ef244a; -webkit-clip-path: polygon(103% -5px, 0% -5px, -10% 14%, -10% 120%, 90% 120%, 120% 66%); clip-path: polygon(103% -5px, 0% -5px, -10% 14%, -10% 120%, 90% 120%, 120% 66%); margin: 20px auto; width: 90%; height: auto; }
.box-results{ padding-top: 50px; }
h3.tt-results{ font-family: 'IBM Plex Sans Condensed', sans-serif; font-weight: 700; font-size: 1.7rem; color: #ef244a; margin: 0px; padding: 0px;  }
.box-results strong{color:#382e2d; font-size: 3.2rem; font-family: 'Work Sans', sans-serif; font-weight: 700; line-height: 0.2rem;}
.box-results p{font-size: 1.6rem; padding:0px; margin: 0px;}
.box-results p span{ font-weight: 700; }
.box-results .col{ padding-bottom: 60px; color:#382e2d;}
section.bottom-contact{ background-color: #ffefc9; padding-top: 0px;}
section.bottom-contact .box-form{ background-color: #382e2d; color: #ffefc9; margin-top: -100px; padding: 20px; }
section.bottom-contact .box-form input{ height: 2rem; box-sizing: border-box; }
section.bottom-contact .box-form textarea{ height: 5rem; }
section.bottom-contact .box-form [type="submit"]{ width: 100%; background-color: #ef244a; color: #ffefc9; font-family: 'IBM Plex Sans Condensed', sans-serif; text-transform: uppercase; font-weight: 700;}
section.bottom-contact .box-form input, section.bottom-contact .box-form textarea{ background-color: #fff; border:none; border-radius: 3px; padding: 5px 10px; font-family: 'IBM Plex Sans Condensed', sans-serif; color:#382e2d; font-size: 12px; width: 100%; }
section.bottom-contact .box-form .wpcf7{ padding-top: 30px; }
section.bottom-contact .pic-contact-form h2{ color: #ffefc9; text-align: center; padding-top: 30px; font-size: 3rem; }
section.bottom-contact .pic-contact-form img{ width: 100%; }
ul.items-services-contact{ display: flex;justify-content: space-between; }
ul.items-services-contact li { width: 20%; align-self: center; }
ul.items-services-contact li img{ width: 100%; }
ul.text-services-contact{ text-align: center;  padding: 15px 0px;}
ul.text-services-contact li { margin-bottom:15px; }
ul.text-services-contact li span{background-color:#382e2d; color: #ffefc9;font-family: 'Work Sans', sans-serif; font-weight: 700; padding: 5px;}
section.content-contact{ background-image: url('assets/pic_desc_contact.png'); background-repeat: no-repeat; background-position: 1.6rem bottom; }
section.cat-brands .pic-cat-brand img{ width: 100%; }
section.cat-brands h1, section.cat-brands h2{ font-size: 3.5rem; line-height: 3rem; }
section.cat-brands .contenido-brand{ padding: 90px 0px; }
section.cat-brands .wrap-brand{ padding: 30px 0px; display: flex; }
section.cat-brands .wrap-brand .item-brand{margin: 0px 5px; width: 9vw;
  height: 9vw; text-align: center; border-radius: 50%; position: relative;}
section.cat-brands .wrap-brand .item-brand img  { position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); margin:0; width: 50%; height: auto; }
section.cat-brands .wrap-brand .item-brand.playground{background-color: #ffe71f; }
section.cat-brands .wrap-brand .item-brand.i24{background-color:#7200ff;}
section.cat-brands .wrap-brand .item-brand.ser-yusi{background-color:#4dcc94;}
section.cat-brands .wrap-brand .item-brand.estrending{background-color:#ff384e;}
section.cat-brands .wrap-brand .item-brand.visit-mexico{background-color:#fff;}
@media all and (max-width:768px),
only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:1024px),
only screen and (min--moz-device-pixel-ratio:2) and (max-width:1024px),
only screen and (-o-min-device-pixel-ratio:2/1) and (max-width:1024px),
only screen and (min-device-pixel-ratio:2) and (max-width:1024px),
only screen and (min-resolution:192dpi) and (max-width:1024px),
only screen and (min-resolution:2dppx) and (max-width:1024px){
	.anima-oi{ display: none; }
	.left-content{ width: 250px; padding-left: 0px; }
	.left-content img{ width: 100%; }
	.e-a{ right: 0px; width: 220px; }
	.e-a img{ width: 100%; }
	.e-d{ width: 270px; bottom: 75px;}
	.e-d img{ width: 100%; }
	section h1{font-size: 80px; line-height: 55px;}
	section.about .element-aa{ background-position: center; }
	ul.tabs li a img{ width: 100%; height: auto; }
	section.cases-home{ padding-bottom: 50px; }
	section.cases-home .tt-cat-cc, section.cases-home .tt-cat-cc h3{ text-align: center; }
	section.cases-home .term-cs{ padding: 15px; }
	.page-footer .footer-copyright .foot-wrap{ text-align: center;flex-direction: column; }
	.page-footer .footer-copyright ul{ display: block; }
	.page-footer .footer-copyright li{ border:none; }
	.graph img{ position: relative; width: 100%; }
	.list-cat h1{ background:none; padding: 0; line-height: 70px; }
	.item-cat-med .featured-box.box-info-p{margin-top: -20px; padding: 20px; }
	.kpi-single{ padding-right: 0px; }
	.box-title{ margin-right: 0px; }
	h3.tt-results{ text-align: center; margin-bottom: 30px; }
	.box-results strong{ font-size: 4.5rem }
	.box-results p{ font-size: 2rem; }
	section.bottom-contact .box-form{ padding: 10px; }
	ul.items-services-contact li { width: 30%; }
	section.content-contact{ background-size:65%; background-position: -65px bottom; }
	section.cat-brands .container{ background:none; }
	section.cat-brands h1, section.cat-brands h2 { font-size: 2.8rem; line-height: 2.2rem; }
	section.cat-brands .wrap-brand .item-brand{margin: 15px; width: 30vw;
  height: 30vw;}
  section.cat-brands .wrap-brand{flex-wrap: wrap;}
  section.cat-brands .pic-cat-brand{ display: none; }
}
